In [ ]:
# 1 Manipulate using list.

my_list = [1,3,7,5,11]
print(my_list)

In [3]:
# i) To add new elements to the end of the list
my_list.append("abcd")
my_list.insert(1,0)

In [4]:
print(my_list)

[1, 0, 3, 7, 5, 11, 'abcd', 'abcd']

In [5]:
# ii) To reverse elements in the list 
my_list.reverse()
print(my_list)

['abcd', 'abcd', 11, 5, 7, 3, 0, 1]

In [6]:
# iii) to display the same list of elements multiple times 
mlist = 10 * my_list;
print(mlist)

['abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1, 'abcd', 'abcd', 11, 5, 7, 3, 0, 1]

In [7]:
# iv) to concatenate two list 
alist = [1,2,3,4]
blist = ["abc", "def", "ghi"]
clist = alist + blist
print(clist)

[1, 2, 3, 4, 'abc', 'def', 'ghi']

In [9]:
dlist = [45,2,5,8,4]
dlist.extend(clist)
print(dlist)

[45, 2, 5, 8, 4, 1, 2, 3, 4, 'abc', 'def', 'ghi']

In [10]:
# v) to sort the elements in the list in assending order

mylist = [55,77,41,8,0,3,99]
mylist.sort()
print(mylist)

[0, 3, 8, 41, 55, 77, 99]

In [12]:
# 2) write a python program to do in the tuples 

# i) Maniplulate using tuple 
# ii) To add new elements to the end end of the tuples

names  = ("varun","manoj","mahaan","mohan","karan")
temp = list(names)
temp.append("rohith")
names = tuple(temp)
print(names)

('varun', 'manoj', 'mahaan', 'mohan', 'karan', 'rohith')

In [13]:
# iii) to reverse element in the list

names= names[::-1]
print(names)

('rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun')

In [14]:
# iv) to display the elements of the same tuple multiple times 

mtuple = names * 10;
print(mtuple)

('rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 'rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun')

In [16]:
# v) To concatenate two tuples 

number = (1,2,3,4,5,6,7,8)
addtuples = names + number
print(addtuples)

('rohith', 'karan', 'mohan', 'mahaan', 'manoj', 'varun', 1, 2, 3, 4, 5, 6, 7, 8)

In [17]:
# vi)to sort the elements in the list in assending order

num = (55,44,88,77,0,11)
sortouple = tuple(sorted(num))
print(sortouple)

(0, 11, 44, 55, 77, 88)

In [18]:
# 3) Write a python program  to implement the following using list

# i) create a list with integers
# ii) how to display the last number in the list
num = [99,88,77,66,55,78,14,20,96,100]
print(num[-1])

100

In [19]:
# iii) command for displaying the values from the list[0:4]

print(num[0:4])

[99, 88, 77, 66]

In [20]:
# iv) command for displaying the values from the list[2:]

print(num[2:])

[77, 66, 55, 78, 14, 20, 96, 100]

In [21]:
# v) command for displaying the values from the list[:6]

print(num[:6])

[99, 88, 77, 66, 55, 78]

In [24]:
# 4) write a python program 

tuple1 = (10,50,20,40,30)

# i) to display the elements 10 and 50 from tuple1

print(tuple1[:-3])

(10, 50)

In [25]:
# ii) to display the length of a tuple1
print(len(tuple1))

5

In [26]:
# iii) to find the minimum element from tuple1 
print(min(tuple1))

10

In [27]:
# iv) To add all elements in tuple1

num = (10,50,20,40,30)
addtuple = num + tuple1
print(addtuple)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

In [28]:
# v) to display the same tuple 1 multiple times

mtuple = tuple1 *10
print(mtuple)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

In [29]:
# 5) Write a Python Program 
# i) To calculate the length of a string 

name = "MANOJ"
print(len(name))

5

In [30]:
# ii) to reverse words in a string 

print(name[::-1])

JONAM

In [31]:
# iii) to display the same string multiple times

mstring = name * 10
print(mstring)

MANOJMANOJMANOJMANOJMANOJMANOJMANOJMANOJMANOJMANOJ

In [32]:
# iv) to concatenate two string 

names = "KUMAR"
fullname = name + names
print(fullname)

MANOJKUMAR

In [33]:
# v) Str1 = "South India" ,using string slicing to display "India"

str1 = "South India"

In [36]:
print(str1[6:])

India

In [40]:
# 6) Perform the following 
# i) Creating the dictionary 

my_dic  = {"name":"Manoj"}
print(my_dic)
print(type(my_dic))

{'name': 'Manoj'}
<class 'dict'>

In [41]:
# ii) accessing values and keys in the dictionary 

details = {"firstname":"Manoj","lastname":"Kumar","age":25}
print(details["age"])

25

In [42]:
print (details.get("firstname"))

Manoj

In [43]:
print(details.keys())

dict_keys(['firstname', 'lastname', 'age'])

In [44]:
# 7)  Python program to insert a number to any position in a list

lst = ["manoj","kumar"]
a = 25
lst.insert(2,a)
print(lst)

['manoj', 'kumar', 25]

In [45]:
# 8 Python program to delete an element from a list by index 

lst.remove(25)
print(lst)

['manoj', 'kumar']

In [47]:
# 9) write a program to display a number from 1 to 100

a = 0
while a <=100:
    print(a, end = " ")
    a += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [73]:
# 10) Write a python program to find the sum of all item from the tuple

num = (1,2,3,4,5,6)
temp = list(num)
res = sum(list(temp))
print(res)

21

In [98]:
# 11) Create a dictionary containing three lamda function square,cube and sqare root 
# i) 

def addall(n):
    d = { 'Square': lambda m : m*m, 
         'Cube': lambda m : m*m*m, 
         'Squareroot': lambda m : m**(1/2), 
         }
    sum = 0
    for key in d.keys():
        sum += d[key](n)
    return sum

n= float(input("The number :"))
print(addall(n))

The number : 4

82.0

In [1]:
# 12) A list of words is given . Find the words from the list that have their second character in uppercase

lst = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result = [word for word in lst if len(word) > 1 and word[1].isupper()]
print(result)

['hOw', 'ARe']

In [58]:
# 13) A dictionary of names and their weight on earth is given. Find how much they will weigh on the moon

wEarth = {'john':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81

wMoon = list(map(lambda w: (w * GMoon)/GEarth, wEarth.values()))
wMoondict = dict(zip(wEarth.keys(),wMoon))

#print(wMoondict)
print(wMoon)

[7.440366972477065, 10.747196738022426, 5.786952089704383]

In [8]:
# Control Structure 
# 1)Write a python program to find the first N prime numbers

def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N: 80

First 80 Prime numbers are:2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409

In [9]:
# 2) Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. 
#Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary

basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

gross_salary = basic_salary + hra + ta + da

tax = 0.10 * gross_salary

net_salary = gross_salary - tax

print("Gross Salary: {}".format(gross_salary))
print("Tax: {}".format(tax))
print("Net Salary: {}".format(net_salary))

Enter Basic Salary:  600000
Enter HRA:  10000
Enter TA:  25
Enter DA:  12

Gross Salary: 610037.0
Tax: 61003.700000000004
Net Salary: 549033.3

In [17]:
# 3) write a python progran to search for a string in a given list 

lst = ['manoj','kumar','bl']
print(lst)
searchlst = input('enter the list element to search:')
found = False
for i in lst:
    if searchlst == i:
        found = True
        break
if found:
    print(f'{searchlst} is found ' )
else:
    print(f'{searchlst} not found in list')

['manoj', 'kumar', 'bl']

enter the list element to search: manoj

manoj is found

In [18]:
# 4) write a python program that accepts a string a string and calculate the number of upper case letters and lower case letters

def count_upper_lower(input_string):
    upper_count = 0
    lower_count = 0

    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

input_string = input("Enter a string: ")

upper_count, lower_count = count_upper_lower(input_string)

print(f"Number of uppercase letters: {upper_count}")
print(f"Number of lowercase letters: {lower_count}")

Enter a string:  Manoj

Number of uppercase letters: 1
Number of lowercase letters: 4

In [19]:
# 5) Write a python program to display the sum of add numbers and even numbers that fall between 12 and 37

odd_sum = 0
even_sum = 0

for number in range(12, 38):
    if number % 2 == 0:  
        even_sum += number
    else:
        odd_sum += number

print(f"Sum of even numbers between 12 and 37: {even_sum}")
print(f"Sum of odd numbers between 12 and 37: {odd_sum}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

In [20]:
# 6) write a python program  to print the table of any numbers
number = int(input("Enter the number for the table: "))
start = 1
end = 10 
print(f"Table of {number}:")

for i in range(start, end + 1):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter the number for the table:  14

Table of 14:
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [21]:
# 7) write a python program to sum the first 10 prime numbers

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_n_primes(n):
    prime_sum = 0
    count = 0
    num = 2  

    while count < n:
        if is_prime(num):
            prime_sum += num
            count += 1
        num += 1

    return prime_sum

n = 10  
result = sum_first_n_primes(n)
print(f"The sum of the first {n} prime numbers is: {result}")

The sum of the first 10 prime numbers is: 129

In [22]:
# 8)write a python program to implement arithmetic operation using nested if statements

# Get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

operation = input("Enter the operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Cannot divide by zero"
else:
    result = "Invalid operation"


print(f"Result: {result}")

Enter the first number:  8
Enter the second number:  4
Enter the operation (+, -, *, /):  +

Result: 12.0

In [23]:
# 9) Write a python program to take the temperature in Celcius and convert it into a Fahrenheit

celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} Celsius is equal to {fahrenheit} Fahrenheit")

Enter temperature in Celsius:  25

25.0 Celsius is equal to 77.0 Fahrenheit

In [26]:
# 10) Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

my_list = [77,100,98,14,58,99]

max_num = my_list[0]  
min_num = my_list[0]  

for num in my_list:
    if num > max_num:
        max_num = num
    elif num < min_num:
        min_num = num

print("Minimum number:",min_num)
print("Maximum number:", max_num)

Minimum number: 14
Maximum number: 100

In [31]:
#11) Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

total_seconds = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

print("Number of seconds in a 30-day month:" ,total_seconds)

Number of seconds in a 30-day month: 2592000

In [32]:
# 12) Write a program in python to print out the number of seconds in a year

days_in_year = 365  
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

total_seconds = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a year:",total_seconds)

Number of seconds in a year: 31536000

In [33]:
#13) A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

speed_mph = 150

distance_miles = 414

time_hours = distance_miles / speed_mph

print("It will take {:.2f} hours to travel from London to Glasgow at an average speed of 150 mph.".format(time_hours))

It will take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

In [34]:
# 14) Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

days_in_each_school_year = 192
school_years = 5
hours_per_day = 6

total_hours_in_school = days_in_each_school_year * school_years * hours_per_day
print("Total hours spent in school from year 7 to year 11:", total_hours_in_school)

Total hours spent in school from year 7 to year 11: 5760

In [43]:
# 15) If the age of Ram,Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest of the three.

ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"



print("The eldest among Ram, Sam, and Khan is:", eldest)
print("The youngest among Ram, Sam, and Khan is:",youngest)

Enter Ram's age:  25
Enter Sam's age:  22
Enter Khan's age:  55

The eldest among Ram, Sam, and Khan is: Khan
The youngest among Ram, Sam, and Khan is: Sam

In [44]:
# 16) Write a python program to rotate a list by right n times with and without slicing technique.

# with slicing

def rotate_list_with_slicing(lst, n):
    n = n % len(lst) 
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list


my_list = [1,8,7,6,5]
n = 2
rotated_list = rotate_list_with_slicing(my_list, n)
print(rotated_list)

[6, 5, 1, 8, 7]

In [45]:
#without slicing

def without_slicing(lst, n):
    n = n % len(lst)  
    rotated_list = []
    for i in range(len(lst)):
        rotated_list.append(lst[(i - n) % len(lst)])
    return rotated_list

# Example usage:
my_list = [1,8,7,6,5]
n = 2
rotated_list = without_slicing(my_list, n)
print(rotated_list)

[6, 5, 1, 8, 7]

In [48]:
#17) a
def generate_triangle(rows):
    triangle = []
    for i in range(rows):
        row = []
        for j in range(i + 1):
            if j == 0 or j == i:
                row.append(1)
            else:
                row.append(triangle[i - 1][j - 1] + triangle[i - 1][j])
        triangle.append(row)
    return triangle

def print_triangle(triangle):
    for row in triangle:
        for num in row:
            print(num, end=" ")
        print()

rows = 8
triangle = generate_pascals_triangle(rows)
print_triangle(triangle)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1

In [52]:
# 17) b

def my_fun(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print("* ",end="")
            
        print("\r")
n = 5
my_fun(n)

*
* *
* * *
* * * *
* * * * *

In [53]:
def triangle(n):
    k = n - 1
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
     
        k = k - 1
        for j in range(0, i+1):
            print("* ", end="")
     
        print("\r")
n = 7
triangle(n)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [57]:
#17 d
str="PYTHON"
for i in range(0,6):
    print()
    for j in range(0,i+1):
        print(str[j],end=' ')

P
P Y
P Y T
P Y T H
P Y T H O
P Y T H O N